@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

.calc {
    width: 822px;
    overflow: hidden;
    border-radius: 15px;
    font-family: 'PT Sans', sans-serif;
    background-color: white;
    font-size: 17px;
    margin: 0 auto;
    border: 1px solid #eeeeee;
}

.calc__box {
    padding: 14px 27px;
}

.calc__head {
    font-size: 22px;
    text-align: center;
    color: #fe710b;
    padding-bottom: 16px;
}

.calc__row {
    display: flex;
}

.calc__row--one {
    flex-direction: row;
    padding-bottom: 30px;
}

.calc__section {
    width: 50%;
}

.calc__picture {
    height: 187px;
    width: 100%;
    margin: 0;
}

.calc__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.calc__label {
    font-weight: 700;
    padding-bottom: 18px;
    display: block;
}

.calc__ui-selectmenu-text {
    color: black;
    font-size: 17px;
    font-weight: 300;
}

.calc__ui-button {
    border: 1px solid #ffc107;
    background: none;
    outline: none;
}

.calc__ui-button:hover, .calc__ui-button:focus {
    background: none;
    outline: none;
}

.calc__ui-menu-item, .calc__ui-widget-content {
    background: none;
    outline: none;
}

.calc__text {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
}

.calc__slider {
    width: 100%;
    position: relative;
}

#calc__slider {
    height: 2px;
    border: none !important;
    background: #e0e0e0;
}

#calc__slider > span.ui-slider-handle {
    position: absolute;
    border-radius: 100%;
    background: #ffc107;
    border: 0;
    height: 20px;
    width: 20px;
    outline: none;
    cursor: pointer;
    top: -8px;
}

#calc__slider .ui-slider-range {
    background: #ffc107;
}

.calc__ui-slider-range {
    background: #ffc107;
}

.calc__slider-widget {
    width: 100%;
}

.calc__slider-number {
    font-size: 10px;
    position: absolute;
    top: 0;
}

.calc__slider-number--min {
    color: #ffc107;
    left: 0;
}

.calc__slider-block {
    position: relative;
}

.calc__delimiter {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 7px;
    width: 2px;
    background: #ffc107;
    display: block;
}

.calc__delimiter--max {
    background: #e0e0e0;
}

.calc__slider-number--max {
    right: 0;
}

.calc__row--two {
    padding-bottom: 40px;
}

.calc__slider-numeral--max {
    position: absolute;
    top: 10px;
    right: -8px;
}

.calc__slider-numeral--min {
    position: absolute;
    top: 10px;
    left: -2px;
}

.calc__pipe {
    width: 50%;
}

.calc__lamp {
    width: 50%;
}

input.calc__number {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ffc107;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 95%;
}

input.calc__number:focus {
    outline: 0;
    border-color: #D9A406;
}

.calc__total {
    background: #ffc107;
    text-align: right;
    padding-right: 27px;
}

.calc__row--three {
    padding-bottom: 30px;
}

.calc__money {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 19px;
    align-items: flex-end;
}

.calc__intotal {
    padding-top: 19px;
    padding-bottom: 10px;
}

.calc__rubname {
    padding-left: 5px;
}

.calc__rub {
    font-size: 21px;
    font-weight: bold;
}

#calc__texture-button {
    display: flex;
    cursor: pointer;
    background: none;
    border: 1px solid #ffc107;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0.5em 0.6em;
}

#calc__texture-button > span.ui-icon.ui-icon-caret-1-s {
    align-self: center;
    color: #ffc107;
    margin-right: 5px;
}

#calc__texture-button > span.ui-selectmenu-text {
    margin-left: 5px;
    color: black;
    font-size: 17px;
}

.calc__area {
    padding-bottom: 20px;
}

.calc__text--small {
    text-transform: lowercase;
}

#calc__area-num {
    padding-left: 10px;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
    .calc {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .calc {
        width: 100%;
    }

    .calc__picture {
        display: none;
    }

    div.calc__section {
        width: 100%;
    }

    #calc .calc__row--one > div:nth-child(2) {
        display: none;
    }

    .calc__row--three {
        flex-direction: column;
        padding-bottom: 5px;
    }

    .calc__pipe, .calc__lamp {
        width: 100%;
    }

    .calc__label {
        padding-bottom: 5px;
    }

    input.calc__number {
        margin-bottom: 5px;
        width: 100%;
    }

    .calc__head {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .calc__row--one {
        padding-bottom: 5px;
    }

    .calc__row--two {
        padding-bottom: 25px;
    }

    #calc__texture-button {
        margin-bottom: 5px;
    }

    .calc__intotal {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .calc__money {
        padding-bottom: 5px;
    }
}